[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pillow = "*"
pytest = "*"
pycodestyle = "*"
pylint = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
sphinx-rtd-theme = "*"
jupyter = "*"


[dev-packages]

