[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pillow = "*"


[dev-packages]

pylint = "*"
pycodestyle = "*"
pydocstyle = "*"
pytest = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
sphinx-rtd-theme = "*"


[requires]

python_version = "3.6"
